{%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}

<style>
  .hover-image-figure .second-image {
    display: none; /* Hide the second image by default */
  }

  .hover-image-figure:hover .first-image {
    display: none; /* Hide the first image when figure is hovered */
  }

  .hover-image-figure:hover .second-image {
    display: block; /* Show the second image when figure is hovered */
  }
</style>

<figure class="hover-image-figure">
  <!-- First image -->
  <img 
    src="{{ include.path | relative_url }}"
    class="hover-image first-image {% if include.class %}{{ include.class }}{% endif %}"
    {% if include.width %}width="{{ include.width }}"{% else %}width="auto"{% endif %}
    {% if include.height %}height="{{ include.height }}"{% else %}height="auto"{% endif %}
    {% if include.min-width %}min-width="{{ include.min-width }}"{% endif %}
    {% if include.min-height %}min-height="{{ include.min-height }}"{% endif %}
    {% if include.max-width %}max-width="{{ include.max-width }}"{% endif %}
    {% if include.max-height %}max-height="{{ include.max-height }}"{% endif %}
    {% if include.alt %}alt="{{ include.alt }}"{% endif %}
    {% if include.title %}title="{{ include.title }}"{% endif %}
    {% if include.zoomable %}data-zoomable{% endif %}
    onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
  />

  <!-- Second image that appears on hover -->
  <img 
    src="{{ include.hover_path | relative_url }}"
    class="hover-image second-image {% if include.class %}{{ include.class }}{% endif %}"
    {% if include.width %}width="{{ include.width }}"{% else %}width="auto"{% endif %}
    {% if include.height %}height="{{ include.height }}"{% else %}height="auto"{% endif %}
    {% if include.min-width %}min-width="{{ include.min-width }}"{% endif %}
    {% if include.min-height %}min-height="{{ include.min-height }}"{% endif %}
    {% if include.max-width %}max-width="{{ include.max-width }}"{% endif %}
    {% if include.max-height %}max-height="{{ include.max-height }}"{% endif %}
    {% if include.alt %}alt="{{ include.alt }}"{% endif %}
    {% if include.title %}title="{{ include.title }}"{% endif %}
    {% if include.zoomable %}data-zoomable{% endif %}
    onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
  />

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}
</figure>