<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.headtitle }}</title>
  {% if page.title == "nus" %}
    <link rel="icon" href="../assets/img/emojis/nerfus.png">  
  {% else %}
    <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
  {% endif %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DHVEPP2GQR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-DHVEPP2GQR');
  </script>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">

  <link rel="stylesheet" href="../assets/css/bulma.min.css">
  <link rel="stylesheet" href="../assets/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="../assets/css/bulma-slider.min.css">
  <link rel="stylesheet" href="../assets/css/fontawesome.all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="../assets/css/nerfies_general.css">
  <!-- <link rel="icon" href="../assets/images/favicon.svg"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="../assets/js/fontawesome.all.min.js"></script>
  <script src="../assets/js/bulma-carousel.min.js"></script>
  <script src="../assets/js/bulma-slider.min.js"></script>
  <script src="../assets/js/nerfies_index.js"></script>
  <script src="../assets/js/nerfies_comparision.js"></script>

  <script>
    function toggleCodeBlock() {
      var codeBlock = document.getElementById("bashCodeBlock");
      if (codeBlock.style.display === "none") {
        codeBlock.style.display = "block";
      } else {
        codeBlock.style.display = "none";
      }
    }
  </script>
  <style>
    h1 img {
        width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        vertical-align: middle; /* Align the image vertically with the text */
    }
  </style>
</head>

<body>
  <section class="hero">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            {% if page.title == "nus" %}
              <h1 class="title is-1 publication-title">NeRF-US<img src="../assets/img/emojis/nerfus.png" style="vertical-align: middle;">
                <br>Removing Ultrasound Imaging Artifacts from Neural Radiance Fields in the Wild</h1>
            {% else %}
              <h1 class="title is-1 publication-title">{{ page.title }}</h1>
            {% endif %}
            {% if page.authors %}
            <div class="is-size-5 publication-authors">
              <span class="author-block">
                {{ page.authors }}
              </span>
            </div>
            {% endif %}

            {% if page.affiliations %}
            <div class="is-size-5 publication-authors">
              <span class="author-block">
                {{ page.affiliations }}
              </span>
            </div>
            {% endif %}

            <div class="column has-text-centered">
              <div class="publication-links">
                <!-- PDF Link. -->
                {% if page.paper %}
                <span class="link-block">
                  <a href="{{ page.paper }}" class="external-link button is-normal is-rounded is-dark">
                    <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                    </span>
                    {% if page.paper_coming %}
                    <span>Paper (coming soon)</span>
                    {% else %}
                    <span>Paper</span>
                    {% endif %}
                  </a>
                </span>
                {% endif %}

                {% if page.arxiv %}
                <span class="link-block">
                  <a href="{{ page.arxiv }}" class="external-link button is-normal is-rounded is-dark">
                    <span class="icon">
                      <i class="ai ai-arxiv"></i>
                    </span>
                    {% if page.arxiv_coming %}
                    <span>arXiv (coming soon)</span>
                    {% else %}
                    <span>arXiv</span>
                    {% endif %}
                  </a>
                </span>
                {% endif %}

                <!-- Video Link. -->
                {% if page.video %}
                <span class="link-block">
                  <a href="{{ page.video }}" class="external-link button is-normal is-rounded is-dark">
                    <span class="icon">
                      <i class="fab fa-youtube"></i>
                    </span>
                    {% if page.video_coming %}
                    <span>Video (coming soon)</span>
                    {% else %}
                    <span>Video</span>
                    {% endif %}
                  </a>
                </span>
                {% endif %}
                <!-- Code Link. -->
                {% if page.code %}
                <span class="link-block">
                  <a href="{{ page.code }}" class="external-link button is-normal is-rounded is-dark">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    {% if page.code_coming %}
                    <span>Code (coming soon)</span>
                    {% else %}
                    <span>Code</span>
                    {% endif %}
                  </a>
                </span>
                {% endif %}
                <!-- Dataset Link. -->
                {% if page.data %}
                <span class="link-block">
                  <a href="{{ page.data }}" class="external-link button is-normal is-rounded is-dark">
                    <span class="icon">
                      <i class="fas fa-database"></i>
                    </span>
                    {% if page.data_coming %}
                    <span>Data (coming soon)</span>
                    {% else %}
                    <span>Data</span>
                    {% endif %}
                  </a>
                </span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">

      <div class="content">
        {{ content }}
      </div>

    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <a class="icon-link" href="blank">
          <i class="fas fa-file-pdf"></i>
        </a>
        <a class="icon-link" href="https://github.com/Rishit-dagli" class="external-link" disabled>
          <i class="fab fa-github"></i>
        </a>
      </div>
      <div class="columns is-centered">
        <div class="column is-8">
          <div class="content">
            <p>
              Website template borrowed from <a href="https://github.com/nerfies/nerfies.github.io">NeRFies</a>.
            </p>
            <p>
              This website is licensed under a <a rel="license"
                href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
                Commons Attribution-ShareAlike 4.0 International License</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>